body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
	background-color: #e7e7e7;
}

.aas_pass{
    display: flex;
    flex-direction: column;
    
}

.head{
    text-align: center;
    background-color: white;
    width: 100%;
    box-sizing: border-box;      /*width including margins paddings */
	
}
h1{
    font-size: 50px;
}
.body{
    padding: 20px;
    width: 100%;
    overflow-x: hidden;
   
}
.feel {
    display: flex;
}
.articlecontent{
	padding: 1rem;
}
.news{
    margin-bottom: 1rem;
	margin-left: 1rem;
    background-color: white;
    font-size: 20px;
}
.big_news, img{
    box-sizing: border-box;
    width: 100%;
}
img{
    max-width: 100%;
}
h4{
    font-size: 25px;
    padding: 1rem;
}
.big_pic{
    width: 100%;
}

.small{
    width: 100%;
    font-size: 20px;
    background-color: white;
    margin: 10px
}
.small_pic{
    background-size: cover ;
    width: 100%;
}

.position{
    padding : 25px;
    text-align: bottom;
}

.foot{
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: space-around;
    box-sizing: border-box;
}

a,h3{
    color: white;
    text-decoration: none;
}

.bottomlinks , .foot{
    text-align: left;
}
.bottomlinks ul{
	list-style: none;
	padding: 0;
}